.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link-header-active {
  opacity: 1;
}

.link-header {
  margin-inline: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.link-header:hover {
  color: blue;
}

@media only screen and (max-width: 768px) {

}
